* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;/*per nascondere la scroll bar*/
}

.left{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  bottom: 0;
  color: white;
  border: 1px solid white;
}
